<section class="sm:mb-5">
    <div id="map" class="relative h-[300px] overflow-hidden bg-auto bg-[50%] bg-no-repeat">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4145.862472616182!2d-34.8720948!3d-8.060620599999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab18a33d543d9f%3A0xd435a36fd5d79c9b!2sR.%20do%20Apolo%2C%20235%20-%20Recife%2C%20PE%2C%2050030-220!5e0!3m2!1sen!2sus!4v1619524992238!5e1!3m2!1spt-BR!2sbr!4v1744480460432!5m2!1spt-BR!2sbr"
            width="100%" height="480" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="container mx-auto">
        <div class="block rounded-lg px-6 py-12 md:py-16 md:px-12 -mt-[100px] bg-white/30 glass">
            <div class="flex flex-wrap">
                <div class="mb-6 sm:mb-12 w-full shrink-0 grow-0 basis-auto md:px-3 lg:mb-0 lg:w-4/12 lg:px-6">
                    <img src="assets/dot7-brand.svg" alt="Dot7 Tecnologia" class="w-24 sm:w-48 mx-auto" />
                </div>
                <div class="w-full shrink-0 grow-0 basis-auto lg:w-8/12">
                    <div class="md:w-6/12 md:px-3 lg:w-full lg:px-6 xl:w-6/12 mb-5">
                        <h1 class="text-2xl font-bold leading-none">Dot7 Tecnologia</h1>
                        <h2 class="text-lg font-semibold text-secondary leading-none">Excelência em controle de acesso</h2>
                    </div>
                    <div class="flex flex-wrap">
                        <div
                            class="mb-12 w-full shrink-0 grow-0 basis-auto md:w-6/12 md:px-3 lg:w-full lg:px-6 xl:w-6/12">
                            <div class="flex items-start">
                                <div class="shrink-0">
                                    <div class="inline-block rounded-md bg-secondary p-4 text-white">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="2" stroke="currentColor" class="h-6 w-6">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M14.25 9.75v-4.5m0 4.5h4.5m-4.5 0l6-6m-3 18c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 014.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 00-.38 1.21 12.035 12.035 0 007.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 011.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 01-2.25 2.25h-2.25z" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="ml-6 grow">
                                    <p class="mb-1 sm:mb-2 font-bold leading-none">
                                        Contatos
                                    </p>
                                    <p class="text-sm text-neutral-500 leading-none">
                                        <a href="mailto:contato@dot7.com.br">contato&#64;dot7.com.br</a>
                                    </p>
                                    <p class="text-sm text-neutral-500">
                                        <a href="tel:+81988839607">+55 (81) 98883-9607</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div
                            class="mb-12 w-full shrink-0 grow-0 basis-auto md:w-6/12 md:px-3 lg:w-full lg:px-6 xl:w-6/12">
                            <div class="flex items-start">
                                <div class="srink-0">
                                    <div class="inline-block rounded-md bg-secondary p-4 text-white">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="2" stroke="currentColor" class="w-7 h-7">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M15 9h3.75M15 12h3.75M15 15h3.75M4.5 19.5h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5zm6-10.125a1.875 1.875 0 11-3.75 0 1.875 1.875 0 013.75 0zm1.294 6.336a6.721 6.721 0 01-3.17.789 6.721 6.721 0 01-3.168-.789 3.376 3.376 0 016.338 0z" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="ml-6 grow">
                                    <p class="mb-1 sm:mb-2 font-bold leading-none">
                                        Porto Digital
                                    </p>
                                    <a href="https://maps.app.goo.gl/vfYwUMErV7Mzdgjj9" target="_blank"
                                        rel="noopener noreferrer">
                                        <address class="text-sm text-neutral-500 leading-none">Rua da Guia, 142 - 2º andar, sala 210 -
                                            Bairro do Recife<br>
                                            Recife-PE<br>
                                            CEP: 50030-210</address>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>