<div
  class="hero bg-secondary bg-[url(/assets/porto-digital.webp)] sm:bg-cover bg-center bg-no-repeat h-[332px] sm:h-[532px] bg-size-[auto_332px] overflow-hidden bg-blend-multiply sm:-mt-16"
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div>
      <h1 class="mb-5 text-5xl font-black text-shadow-lg/30">Quem somos</h1>
      <p class="mb-5 font-extralight text-shadow-lg">
        Empresa de tecnologia que realiza o controle de acesso nos mais diversos
        ambientes.
      </p>
    </div>
  </div>
</div>
<section id="sobre" class="container mx-auto px-4 pt-10">
  <p class="text-lg/8 text-justify">
    A DOT7 iniciou suas atividades, na área de tecnologia da informação, com o
    objetivo de atender ao mercado com sistemas customizáveis. Isto é, o serviço
    estava em prover soluções completas relativas à necessidade de cada cliente,
    qual fosse o ramo de atividade. Seguindo a evolução da empresa e experiência
    adquirida, começaram a nascer seus próprios produtos. Um passo importante
    para o crescimento e posicionamento no mercado de T.I. Disposta a superar
    seus desafios com o comprometimento do seu capital humano, a DOT7 busca a
    excelência nas suas soluções desenvolvidas e implantadas.
  </p>
</section>

<section id="questionamento" class="container mx-auto px-4 py-10">
  <h2 class="text-3xl font-semibold mb-5 text-primary">O que fazemos?</h2>
  <p class="text-lg/8 text-justify">
    Através dos nossos produtos, podemos sanar as lacunas observadas e
    implementar segurança com otimização ao gerenciamento dos acessos. Possuímos
    tecnologias de ponta, que fazem todo controle de dados com monitoramento,
    levando também conceitos modernos para o ambiente empresarial, buscando
    eficiência no quesito do acesso e fluxo de pessoas.
  </p>
</section>

<section id="solucoes" class="container mx-auto px-4 py-10">
  <h2 class="text-3xl font-semibold mb-5 text-primary">Soluções</h2>
  <p class="text-lg/8 text-justify">
    Nossas soluções são desenvolvidas buscando sempre atender a interação entre
    os grupos de processos envolvidos no projeto. Isto é, desde o planejamento
    do sistema, o controle na implementação, as fases de execução e entrega do
    produto, haverá sempre o acompanhado de nosso analista responsável pelo
    projeto. Destacando que todo produto entregue, terá a premissa de ser
    concebido no que há de mais atual em plataforma de desenvolvimento de
    software. Dando segurança e portabilidade nas informações geradas.
  </p>
</section>
<section id="atuacao" class="container mx-auto px-4 py-10 text-center">
  <h2 class="text-3xl font-semibold mb-5 text-primary">Área de Atuação</h2>
  <div class="w-full overflow-x-scroll">
    <div class="join">
      @for (marker of markers; track marker) {
      <input
        type="radio"
        name="state"
        class="join-item btn"
        [ariaLabel]="marker.options.title"
        [value]="marker.options.title"
        [checked]="selectedState === marker.options.title"
        (change)="onStateChange(marker.options.title!)"
      />
      }
    </div>
  </div>
  <div class="flex flex-col md:flex-row gap-8 items-center">
    <div
      class="w-full w-full h-[400px] rounded-lg overflow-hidden border border-secondary"
    >
      <google-map
        mapId="dot7-map"
        height="600px"
        width="100%"
        [center]="center"
        [zoom]="zoom"
      >
        @for (marker of markers; track marker) {
        <map-advanced-marker
          [title]="marker.options.title!"
          [position]="marker.position"
          [options]="marker.options"
        />
        }
      </google-map>
    </div>
  </div>
</section>

<aside class="text-center pb-10">
  <a routerLink="/contato" class="btn bg-white btn-lg text-black rounded-full">
    <svg
      aria-label="Email icon"
      width="24"
      height="24"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <g
        stroke-linejoin="round"
        stroke-linecap="round"
        stroke-width="2"
        fill="none"
        stroke="black"
      >
        <rect width="20" height="16" x="2" y="4" rx="2"></rect>
        <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
      </g>
    </svg>
    Entre em contato
  </a>
</aside>
