<div
    class="hero bg-secondary bg-[url(/assets/boy.webp)] sm:bg-cover bg-center bg-no-repeat h-[332px] sm:h-[532px] bg-size-[auto_332px] overflow-hidden bg-blend-multiply sm:-mt-16">
    <div class="hero-overlay"></div>
    <div class="hero-content text-neutral-content text-center">
        <div>
            <h1 class="mb-5 text-4xl font-black text-shadow-lg/30">Equipamentos integrados ao CP7 School e VouBusCar
            </h1>
            <p class="mb-5 font-extralight text-shadow-lg">
                Os sistemas CP7 School
                e VouBusCar se integram
                com diversos equipamentos,
                deixando toda a operação
                completa e segura.
            </p>
        </div>
    </div>
</div>
<div class="hero pb-10">
    <div class="hero-content flex-col">
        <img src="/assets/equipamentos.png" class="w-full sm:max-w-3xl" />
        <section id="implantacao" class="px-4 pt-3 pb-10">
            <h2 class="text-3xl font-semibold mb-5 text-primary text-center">Implantação e treinamento</h2>
            <p class="text-lg/8 text-center">A implantação garante uma maior eficácia
                a toda operação da escola e sua
                integração com o sistema acadêmico utilizado.</p>
            <p class="text-lg/8 text-center">Seu investimento varia de acordo
                com a quantidade de alunos
                e de módulos utilizados.</p>
            <p class="text-lg/8 text-center">Você paga a implantação e o treinamento
                uma única vez. Depois, é só escolher a assinatura
                que melhor atenda às suas necessidades.</p>
            <dl class="mt-10">
                <dt class="text-3xl font-bold my-5 text-secondary">Implantação</dt>
                <dd>Neste momento, se faz o levantamento de todo o cenário do
                    cliente e pontos necessários para operacionalizar a utilização
                    do CP7 School. Tudo é visto, desde necessidades de
                    infraestrutura até a integração com o sistema acadêmico.</dd>
                <dt class="text-3xl font-bold my-5 text-secondary">Treinamento</dt>
                <dd>Após a fase de implantação, será realizado
                    o treinamento operacional. Isto é, treinaremos
                    todas as pessoas da escola envolvidas na operação.</dd>
                <dt class="text-3xl font-bold my-5 text-secondary">Suporte</dt>
                <dd>Com o sistema já em operacionalização, daremos todo o
                    suporte necessário. Este suporte será realizado
                    remotamente. Caso algum problema não seja resolvido,
                    nosso técnico se deslocará até a escola para resolver.</dd>
                <dt class="text-3xl font-bold my-5 text-secondary">Atualização</dt>
                <dd>Versões, com correções e melhorias na plataforma,
                    estarão sempre disponíveis para serem utilizadas.</dd>
            </dl>
            <a href="/sobre" routerLink="/sobre" class="btn btn-primary mt-10">Saiba mais sobre nós</a>
        </section>
    </div>
</div>