<div
    class="hero bg-secondary bg-[url(/assets/bag2.webp)] sm:bg-cover bg-center bg-no-repeat h-[332px] sm:h-[532px] bg-size-[auto_332px] overflow-hidden bg-blend-multiply sm:-mt-16">
    <div class="hero-overlay"></div>
    <div class="hero-content text-neutral-content text-center">
        <div>
            <img src="/assets/cp7-school.webp" class="w-[128px] mx-auto" />
            <h1 class="mb-5 text-5xl font-black text-shadow-lg/30">CP7 School</h1>
            <p class="mb-5 font-extralight text-shadow-lg">
                O CP7 School é utilizado
                no gerenciamento dos acessos
                à escola, para um controle de
                segurança 100% eficaz.
            </p>
        </div>
    </div>
</div>
<div class="hero pb-10">
    <div class="hero-content flex-col lg:flex-row">
        <img src="/assets/screen-cp7school.webp" class="w-full sm:max-w-3xs" />
        <div>
            <h1 class="text-5xl font-bold mb-5 text-primary text-center sm:text-left">Como funciona?</h1>
            <p class="text-lg/8 mb-4 text-center sm:text-left">
                Nosso sistema mostra
                em um painel os dados
                do portador e quais alunos
                ele está autorizado a buscar,
                evitando assim, que pessoas
                não autorizadas peguem
                as crianças.
            </p>
        </div>
    </div>
</div>
<section class="container mx-auto px-4 pb-10">
    <h2 class="text-3xl font-bold mb-5 text-secondary">Cadastros</h2>
    <p class="text-lg/8 mb-4">
        Na ferramenta,
        podemos cadastrar
        alunos e correlacioná-los
        com os pais e/ou
        responsáveis autorizados
        a buscá-los na escola.
    </p>
    <h2 class="text-3xl font-bold mb-5 text-secondary">Integração</h2>
    <p class="text-lg/8 mb-4">
        O sistema pode ser integrado
        ao software de gestão do
        colégio, facilitando a
        manipulação de dados.
    </p>
    <h2 class="text-3xl font-bold mb-5 text-secondary">Turmas</h2>
    <p class="text-lg/8 mb-4">
        Os alunos podem ser
        agrupados por turmas,
        respeitando seus horários
        pré-estabelecidos pela
        escola. Além disso, o
        software permite o
        cadastro de TURMAS
        EXTRAS com
        periodicidade semanal,
        tipo judô, reforço, outros
        esportes.
    </p>
    <h2 class="text-3xl font-bold mb-5 text-secondary">Portarias</h2>
    <p class="text-lg/8 mb-4">
        A escola vai acompanhar em tempo
        real como está o fluxo de alunos em
        todas as suas portarias.
    </p>
    <h2 class="text-3xl font-bold mb-5 text-secondary">Terminais</h2>
    <p class="text-lg/8 mb-4">
        Gestão total dos controles
        de acesso, podendo ser
        utilizado a catraca virtual,
        através do cartão virtual
        CP7id e ideal para ensino
        infantil e fundamental I,
        ou a própria barreira física,
        através de catraca, cartão
        de aproximação e/ou
        biometria e ideal para ensino
        fundamental II e superior.
    </p>
    <h2 class="text-3xl font-bold mb-5 text-secondary">Unidades</h2>
    <p class="text-lg/8 mb-4">
        O sistema pode ser integrado em
        mais de uma unidade do colégio.
        Ideal para escolas que possuem mais
        de uma unidade física.
    </p>
    <h2 class="text-3xl font-bold mb-5 text-secondary">Autorizações temporárias</h2>
    <p class="text-lg/8 mb-4">
        Os pais podem liberar autorizações
        temporárias de maneira simples e rápida para
        que responsáveis retirem os alunos da escola
        por tempo determinado.
    </p>
    <h2 class="text-3xl font-bold mb-5 text-secondary">Registros</h2>
    <p class="text-lg/8 mb-4">
        Todos os cadastros ficam
        registrados com segurança
        e acessíveis para a escola.
        Desta forma, a escola passa
        a ter um banco de dados
        para controle de horários
        de pico, além a segurança
        do seu bem mais precioso:
        seus alunos.
    </p>
    <a href="/solucoes/vou-buscar" routerLink="/solucoes/vou-buscar" class="btn btn-primary">Conheça o VouBusCar</a>
</section>