<div
  class="hero bg-secondary bg-[url(/assets/bag2.webp)] sm:bg-cover bg-center bg-no-repeat h-[332px] sm:h-[532px] bg-size-[auto_332px] overflow-hidden bg-blend-multiply sm:-mt-16"
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div>
      <img
        src="/assets/briefcase.svg"
        class="w-[128px] mx-auto"
        alt="Empresarial"
      />
      <h1 class="mb-5 text-5xl font-black text-shadow-lg/30">Empresarial</h1>
      <p class="mb-5 font-extralight text-shadow-lg">
        Controle de acesso inteligente e flexível para empresas de todos os
        portes e segmentos.
      </p>
    </div>
  </div>
</div>
<div class="hero pb-10">
  <div class="hero-content flex-col lg:flex-row">
    <!-- <img src="/assets/screen-empresarial.webp" class="w-full sm:max-w-3xs" alt="Tela Empresarial" /> -->
    <div>
      <h1 class="text-5xl font-bold mb-5 text-primary text-center sm:text-left">
        Como funciona?
      </h1>
      <p class="text-lg/8 mb-4 text-center sm:text-left">
        O sistema registra e gerencia a entrada e saída de colaboradores,
        visitantes e prestadores de serviço em tempo real, integrando-se aos
        seus dispositivos de bloqueio físico, como catracas, portas
        automatizadas ou leitores faciais/biométricos.
      </p>
    </div>
  </div>
</div>
<section class="container mx-auto px-4 pb-10">
  <h2 class="text-3xl font-bold mb-5 text-secondary">Tipos de Empresas</h2>
  <p class="text-lg/8 mb-4">
    Indústrias, escritórios, condomínios corporativos, shopping centers que
    podem se beneficiar de um controle de acesso centralizado, garantindo
    segurança e fluidez operacional.
  </p>
  <h2 class="text-3xl font-bold mb-5 text-secondary">Integração</h2>
  <p class="text-lg/8 mb-4">
    Conecte-se aos seus sistemas de ERPs para sincronizar cadastros e gerar
    relatórios completos de presença.
  </p>
  <h2 class="text-3xl font-bold mb-5 text-secondary">
    Autorização e Visitantes
  </h2>
  <p class="text-lg/8 mb-4">
    Gere acessos temporários, criando fluxos de aprovação para visitantes.
  </p>
  <h2 class="text-3xl font-bold mb-5 text-secondary">Múltiplas Unidades</h2>
  <p class="text-lg/8 mb-4">
    Administre filiais em uma única plataforma, visualizando indicadores em
    tempo real.
  </p>
  <h2 class="text-3xl font-bold mb-5 text-secondary">Relatórios</h2>
  <p class="text-lg/8 mb-4">
    Monitore e gerencie acessos, alertas de segurança e métricas de fluxo de
    pessoas para tomadas de decisão estratégicas.
  </p>
</section>
